.maximumQuantity {
  margin-bottom: 7px;
  font-size: 12px;
}
.wishlistBtn {
  position: absolute;
  top: 7px;
  right: 7px;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  background-color: white;
  border-radius: 50%;
}
.wishlistBtn:hover {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
}
